DOCKER_HOST=

# TiDB
TIDB_HOST=
TIDB_USER=
TIDB_PASSWORD=
TIDB_DATABASE=
TIDB_URL=mysql://${TIDB_USER}:${TIDB_PASSWORD}@${TIDB_HOST}/${TIDB_DATABASE}
# TIDB_URL=mysql://${TIDB_USER}@${TIDB_HOST}/${TIDB_DATABASE}
